<link rel = "stylesheet" href="/css/main.css">
<ul class = "tb">
<li> { &nbsp id: &nbsp {{b.id}}, &nbsp timestamp: &nbsp {{b.timestamp}}, &nbsp amount: &nbsp {{b.amount}}  &nbsp}</li>
<li>  <strong>@{{b.from}} &nbsp → &nbsp @{{b.to}} </strong></li>
</ul>